@model CodeTheWay.Web.Ui.Models.Barrels
@*
    ViewData["Title"] = "Details";
*@
<h1>Details</h1>
<p>Radius:  @Model.Radius</p>
<p>Height:  @Model.Height</p>
<p>Contents: @Model.Contents</p>
<p>Location: @Model.Location</p>
<p>Weight: @Model.Weight</p>
<p>Material: @Model.Material</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>