@model List<CodeTheWay.Web.Ui.Models.Barrels>
@*
    @{
    }
    @*
        ViewData["Title"] = "Index";
*@

<div class="container-fluid">
    <table>
        <tr class="IndexHeaders">
            <th class="col-sm-2">
                Radius
            </th>
            <th class="col-sm-2">
                Height
            </th>
            <th class="col-sm-2">
                Weight
            </th>
            <th class="col-sm-2">
                Material
            </th>
            <th class="col-sm-2">
                Contents
            </th>
            <th class="col-sm-2">
                Location
            </th>
        </tr>
        @foreach (var item in Model)
        {


            <tr>
                <td class="col-sm-2">
                    @Html.DisplayFor(modelItem => item.Radius)
                </td>
                <td class="col-sm-2">
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td class="col-sm-2">
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td class="col-sm-2">
                    @Html.DisplayFor(modelItem => item.Material)
                </td>
                <td class="col-sm-2">
                    @Html.DisplayFor(modelItem => item.Contents)
                </td>
                <td class="col-sm-2">
                    @Html.DisplayFor(modelItem => item.Location)
                </td>

                <td class="col-sm-6 links">
                    <div>
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </div>
                    </div>
                    <div>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </div>
                    <div>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
<div class="row">
    <a asp-action="Create">Create a barrel.</a>
</div>
